.main{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* border: 2px solid; */
    /* justify-content: space-around; */
    width: 30%;
    margin-bottom: 30px;
    background-color: #F9FAFB;
    box-shadow: 10px 5px 5px;
}
/* .cards{
    border: 2px solid;
    margin-bottom: 20px;
    width:30% ;
    flex-wrap: wrap;
    
    margin: 10px;
    
} */
img{
    width: 10px;
}
.c1{
    
display: flex;
justify-content: space-between;
/* border: 2px solid; */
/* width:30% ; */
flex-wrap: wrap;

margin: 40px;
padding: 5px;
}